.body{ 
  background-color:#409fd6;
  font-size:19px;
  letter-spacing : 0.8px;
  word-spacing: 0px;
  color:aliceblue;
  font-weight: 700;
  text-decoration: underline solid rgb(0, 102, 204);
  text-decoration-thickness: 3px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.h1 {
  background-color: #409fd6;
  color: aliceblue;
  
}

INPUT[type=checkbox]:focus
{
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox]
{
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

INPUT[type=checkbox]:checked
{
    background-color: #409fd6;
    background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}

.btn {
  color:antiquewhite;
  background-color: #409fd6;
  border-color:rgb(0, 102, 204);
  font-size: xx-large;
  border-width: 15px;

}
}